@import '~bootstrap/scss/bootstrap.scss';
@import 'vars';

.Nav{
  @include bgColorGradient;
}
*{
  @include fontStyle;
}

.PostBox{
    border: 1px solid black;
    border-radius: 25px;
    width: 550px + 25px;
    max-width: 100vh;
    background: linear-gradient(90deg, rgba(89, 83, 255, 0.8) 0%, rgba(135, 135, 212, 1) 50%, rgba(126, 199, 214, 1) 100%);
}
.PostBox span{
  color:white;
}
.PagesNumeric{
  margin:0.25rem;
}
.comments_block{
  width:400px;
  padding:15px;
  margin: 15px;
  flex-wrap: nowrap;
  border-radius: 25px;
  border: 1px solid black;

}
.comments_block_email{
  padding: 10px;
  background: #007FFF;
  color:white;
}
.login_block {
  text-align: center;
  margin:5rem
}
.login_block_form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login_block_form form Input{
  margin-bottom: 15px;
}
.logOut_block{
  font-weight: bold;
  margin-left:15px;
  font-size: 15px;
  cursor: pointer;
}

.logOut_button{
  cursor: pointer;
  margin-left:10px;
}
.date_block{
  opacity: 75%;
}
.post_block{
  display: flex;
  color:white;
  justify-content: center;
  margin: 30px auto;
  word-break: inherit;
}
.post_content{
  @extend .PostBox;
  display: flex;
  padding: 30px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.post_photo{
  margin-top:15px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.post_photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  &:hover{
    opacity: 0.75;
    transition: opacity 300ms ease-in-out;
    cursor: pointer;
  }
}
.post_page_photo{
  margin: 2rem;
}
.post_page_photo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  &:hover{
    opacity: 0.75;
    transition: opacity 300ms ease-in-out;
    cursor: pointer;
  }
}

