@import '~bootstrap/scss/bootstrap.scss';
@import 'vars';

.Nav{
  @include bgColorGradient;
}
*{
  @include fontStyle;
}

.Menu button{
  margin: 1rem 1rem 0rem 1rem;
}
.Post{
  display: flex;
  border: 1px solid black;
  border-radius: 25px;
  height: 600px;
}
.PostBox{
  @include contentBox;
}

