@import '~bootstrap/scss/bootstrap.scss';
@import 'vars';

.Nav{
  @include bgColorGradient;

}
*{
  @include fontStyle;
}
.Menu div{
  margin-right: 10rem;
  margin-left: 10rem;
  margin-top:1.5rem;
}
.Post div{
  height:550px;
  width: 345px;
}
.PostBox{
  @include contentBox;
}

